<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Opening.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Opening.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Opening.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductServlet</servlet-name>
        <servlet-class>Conducting.ConductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Electionlist</servlet-name>
        <servlet-class>Conducting.Electionlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterRegister</servlet-name>
        <servlet-class>Conducting.VoterRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartyRegister</servlet-name>
        <servlet-class>Conducting.PartyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadElection</servlet-name>
        <servlet-class>Conducting.LoadElection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyservlet</servlet-name>
        <servlet-class>Conducting.verifyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyparty</servlet-name>
        <servlet-class>Conducting.verifyparty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>Voting.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteRecord</servlet-name>
        <servlet-class>Voting.VoteRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletevoters</servlet-name>
        <servlet-class>Conducting.deletevoters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resulteval</servlet-name>
        <servlet-class>Voting.resulteval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartyServlet</servlet-name>
        <servlet-class>Conducting.PartyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Conducting.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>Opening.forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otpentered</servlet-name>
        <servlet-class>Opening.otpentered</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordreset</servlet-name>
        <servlet-class>Opening.passwordreset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfile</servlet-name>
        <servlet-class>Opening.LoadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Opening.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoservlet</servlet-name>
        <servlet-class>scheduling.autoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyDetails</servlet-name>
        <servlet-class>Surveys.SurveyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestions</servlet-name>
        <servlet-class>Surveys.AddQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilledSurvey</servlet-name>
        <servlet-class>Surveys.FilledSurvey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductServlet</servlet-name>
        <url-pattern>/ConductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Electionlist</servlet-name>
        <url-pattern>/Electionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterRegister</servlet-name>
        <url-pattern>/VoterRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartyRegister</servlet-name>
        <url-pattern>/PartyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadElection</servlet-name>
        <url-pattern>/LoadElection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyservlet</servlet-name>
        <url-pattern>/verifyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyparty</servlet-name>
        <url-pattern>/verifyparty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteRecord</servlet-name>
        <url-pattern>/VoteRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletevoters</servlet-name>
        <url-pattern>/deletevoters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resulteval</servlet-name>
        <url-pattern>/resulteval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartyServlet</servlet-name>
        <url-pattern>/PartyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otpentered</servlet-name>
        <url-pattern>/otpentered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordreset</servlet-name>
        <url-pattern>/passwordreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfile</servlet-name>
        <url-pattern>/LoadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoservlet</servlet-name>
        <url-pattern>/autoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyDetails</servlet-name>
        <url-pattern>/SurveyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestions</servlet-name>
        <url-pattern>/AddQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilledSurvey</servlet-name>
        <url-pattern>/FilledSurvey</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
